{% set url = base_url ~ "/api/leaving/?for=" ~ post.header.source ~ "&referrer=Website" %}
{% if post.header.image or page.media.images %}

    {% set image = false %}

    {% if post.media.images %}
        {% for key, item in post.media.images %}
            {% if post.media.images|length > 1 %}
                {% if key != "image.jpg" %}
                    {% set image = item %}
                {% endif %}
            {% else %}
                {% set image = item %}
            {% endif %}
        {% endfor %}
    {% endif %}

{% endif %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article" data-category="
    {% if post.taxonomy.tag|length > 0 %}
        {% for tag in post.taxonomy.tag %}{{tag}}{%if not loop.last %}, {% endif %}{% endfor %}
    {% endif %}
">
    {% if image %}
        <figure class="post-image hide-on-mobile" itemprop="image">
            <a href="{{ url }}" target="_blank" class="js-ajax-link">
                <img class="lazy" data-original="{{ image.cropResize(350, 350).url }}" width="100%" height="100%" alt="">
                <noscript>
                    <img src="{{ image.cropResize(350, 350).url }}" width="100%" height="100%">
                </noscript>
            </a>
        </figure>
    {% endif %}
    <header class="post-header">
        <h2 class="post-title" itemprop="name"><a href="{{ url }}" target="_blank" itemprop="url">{{post.title}}</a></h2>
    </header>
    <footer class="post-meta">
        {% if post.taxonomy.tag|length > 0 %}
            {% for tag in post.taxonomy.tag %}<span class="post-tag-{{tag}}"><a href="{{ base_url }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag|capitalize }}</a></span>{%if not loop.last %}, {% endif %}{% endfor %}
        {% endif %}
        <time class="post-date" datetime="{{ post.date | date('Y-m-d H:i') }}">{{ post.date | date('Y-m-d H:i') }}</time>
    </footer>
</article>
