<input type="checkbox" id="show-menu" class="show-menu" />
<div class="nav">
    <h3 class="nav-title">{{ 'THEME_MASONRY.MENU_TITLE'|t }}</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Stäng</span>
    </a>
    <ul>

        {% set navcollection = page.evaluate([{'@page.children':'/blog'}]) %}

        {% set tags = [] %}
        {% for post in navcollection %}
            {% for tag in post.taxonomy.tag %}
                {% if tag not in tags %}
                    {% set tags = tags|merge([tag]) %}
                {% endif %}
            {% endfor %}
        {% endfor %}

        <li class="nav-x {{ current_page }}" role="presentation"><a href="{{ url('./') }}">Visa alla</a></li>

        {% for tag in tags|sort %}
            <li class="nav-x {{ current_page }}" role="presentation"><a href="{{ base_url }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag|capitalize }}</a></li>
        {% endfor %}

    </ul>

    <span class="small-text show-on-mobile span-menu-on-mobile">
        <a href="./api/leaving/?for=https://www.instagram.com/dinkompisper/&amp;referrer=Website" target="_blank"><i class="fa fa-fw fa-instagram" aria-hidden="true"></i> dinkompisper</a>
    </span> 
    <span class="small-text show-on-mobile span-menu-on-mobile">
        <a href="./api/leaving/?for=https://www.twitter.com/p3r&amp;referrer=Website" target="_blank"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i> p3r</a>
    </span> 
    <span class="small-text show-on-mobile span-menu-on-mobile">
        <a href="./api/leaving/?for=https://www.linkedin.com/in/hejkompis/&amp;referrer=Website" target="_blank"><i class="fa fa-fw fa-linkedin" aria-hidden="true"></i> Per</a>
    </span> 
    <span class="spotify_current small-text show-on-mobile span-menu-on-mobile">
        <a href="./api/leaving/?for=https://open.spotify.com/user/amadore&amp;referrer=Website"><i class="fa fa-fw fa-spotify" aria-hidden="true"></i> amadore</a>
    </span>
</div>
<span class="nav-cover"></span>
